
body{
 margin: 0%;
box-sizing: border-box;
 padding: 0;
}

.tela-form-ajuda .logo{
    position: absolute;
    margin-top: -29%;
    margin-left: -62%;

}
.tela-form-ajuda{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tela-form-ajuda .faixa-form{
    background-color: #003366;
    color: #f2f2f2;
    width: 100%;
    height: 53%;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.tela-form-ajuda .faixa-form .faixa-linha{
    width: 100%;
    display: flex;    
   align-items: center;
   text-align: left;
   font-size: 150%;
   height: 20%;
}
.tela-form-ajuda .faixa-form .faixa-linha img{
    margin: 0 2% 0 2%;
    height: 45%;
}

.tela-form-ajudaq .faixa-form .faixa-form b{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tela-form-ajuda .div-form form{
    width: 100%;
    padding: 4%;
}
.tela-form-ajuda .div-form h1{
   margin: 2%  2% 5% 1%;
   box-sizing: border-box;
   padding: 0;
   color: #003366;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tela-form-ajuda .div-form{
    background-color: #ffffff;
    width: 45%;
    height: 80vh;
    display: flex;
    margin-top: 0.5%;
    margin-left: 50%;
    position: absolute;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid black;
}
.tela-form-ajuda .div-form button{
    background-color: #003366;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    margin: 0 2%;
    width: fit-content;
    padding: 2.5%;
    font-size: medium;
    transition: 1s;
    cursor: pointer;
}

.tela-form-ajuda .div-form button:hover{
background-color:#ffffff;
color: #003366;
transition: 1s;
cursor: pointer;
}
.tela-form-ajuda .div-form .pedaco-formulario{
    color: black;
    padding: 2%;
    width: 100%;
    justify-content: flex-start;
}

.tela-form-ajuda .div-form .pedaco-formulario input{
    border: none;
    border-bottom: 2px solid #003366;
    width: 90%;
    margin: 2% 0;
}

.tela_dashboard{
 display: none;
 height: 100vh;
 
}

.menu_lateral{
 background-color: #003366;
 display: flex;
 flex-direction: column;
 width: 18.5%;
 height: 100%;  ;
 padding: 0 0.9%;

}

.menu_lateral .perfil_img img{
 border: 2px solid #ffffff;
 width: 60%;
 border-radius: 30px;
 padding: 2%;
 margin-left: 15%;
 margin-top: 12%;
 
}


.menu_lateral .perfil_img .perfil_text{
 font-size: 110%;
 margin: 15% 0 15% 0;
 color: #f2f2f2;

}

.menu_lateral button{
 background-color: #003366;
 color: #ffffff;
 border: none;
 border-top : 1px dashed  #ffffff;
 border-bottom: 1px dashed #ffffff;
 padding: 1rem;
 font-size: 100%;
 text-align: left; 
 margin: -1% -7% 0 -7%;
 transition: 1s;
 cursor: pointer;

}

.lousa{
 background-color: #ffffff;
 height: 100%;
 width: 81%;
 text-align: center;
}   

.tela_dashboard .menu_lateral .config{
background-color: #003366;
color: #ffffff;
text-align: left; 
font-size: 110%;
margin: 25vh 0 -10px 0;
border: none;
transition: 1s;
cursor: pointer;
position: relative;
padding-top: 5%;    
border-radius: 15px;
}           

.tela_dashboard .menu_lateral .config:hover{
    background-color: #ffffff;
    color: #003366;   
}

.menu_lateral button:hover{
    border-radius: 15px;
    background-color: #ffffff;
    color: #003366;
}

.tela_dashboard .text_inicial{
    color: #f2f2f2;
    margin-top: 20%;
    font-size: 300%;
    text-shadow: 1px 1px white, -1px -1px #999;
}