.login {    
    width: 20%;
    background-color: black;
    border-radius: 10%;
    color: white;
    border: 5px solid;
    padding: 0.5%;
    margin-top: 9%;
    height: 10%;

}

body {
    background-image: url(https://www.racksolutions.com/news/app/uploads/AdobeStock_87909563.jpg);
    margin: 0;
}

.title {
    color: white;  
    justify-content: flex;
    background-color: black;
    border: 0 0 0 0;
    margin: 0;
    justify-content: space-between;
}

.UpPage {
    justify-content: space-between;
}

telaLogin {

}

