@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,400;1,700;1,800&display=swap');

body {
    margin: 0 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: #000000;
}

html {
    scroll-behavior: smooth;
    min-height: 170vh;

}

section {
    min-height: 100vh;
}

.listaUm a {
    color: white;
    text-decoration: none;
}


.listaUm {
    cursor: pointer;
}

.header {
    background-color: #000000;
    width: 100%;
    height: 95px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 80%;
    height: 100px;
    color: white;
}

.header .container .listaUm li {
    list-style: none;
    display: inline;
    padding: 15px;
}

.telaLogin {
    width: 100%;
    height: 70vh;
}

.header .container .listaUm .login {
    text-decoration: none;
    color: white;
}

.header .container h1 {
    color: #FFFFFF;
}

h1 {
    font-size: 2rem;
    margin: 1% 0;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: black;
    background-image: url(./Imagens/R.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;

}

.banner .container {
    margin: 100px 700px 0 0;
    width: 10% 0;


}

.banner .container h1 {
    color: #f2f2f2;
    width: 40vh;
    margin-bottom: 500px;
    font-size: 40px;



    /* SÓ AJUSTAR DE ACORDO COM O QUE VC QUER */
}

;

.footerIndex .container .listaFooter li {
    list-style: none;
    display: inline;
    padding: 10px;
    margin: 0;
    justify-content: space-between;
}

.telaLogin .container {
    width: 100%;
    height: 550px;
    display: flex;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, .212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: #000000d7;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
    margin-top: 50px;

}

.form {
    width: 50%;
    display: flex;
    justify-content: column;
    background-color: #fff;
    margin: 0.9%;
    margin-top: 50px;
}

.form-header {
    display: flex;
    width: 100%;
    justify-content: center;
}

.form-header h1::after {

    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #000000;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;

}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1% 5%;
}


.messageErro {
    margin-top: 3%;
    width: 100%;
    text-align: center;
    color: red;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #000000
}

.input-box input::placeholder {
    color: #000000be;
}



.continue-button button {
    background-color: #003366;
    font-size: 0.93rem;
    font-weight: 500;
    color: #ffffff;
    margin-top: -0.5%;
    width: 100%;
    border: none;
    cursor: pointer;
    height: 5vh;
}

.continue-button button:hover {
    transition: 1.5s;
    background-color: rgb(121, 121, 121);
    color: #000000;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

.more-button button {
    width: 100%;
    border: none;
    background-color: #000000;
    padding: 0.52rem;

    cursor: pointer;

}

.more-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;

}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }

    .container {
        width: 50;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }

    .input-group {
        flex-direction: column;
        overflow: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
}

.sobrenos {
    justify-content: center;
    display: flex;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 10px 0 black;
    min-width: 100vh;
}

.sobrenos .container {
    background-color: rgb(0, 0, 0);
    height: 880px;
    display: flex;
    width: 90%;
    flex-direction: column;
}

.sobrenos .container .titulo {
    border-left: 10px;
    font-size: 40px;
    color: white;
    height: 7%;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    animation: appear 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;

}

.sobrenos .container .sobreNosRestante {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;

}

.sobrenos .container .sobreNosRestante .imagemSobreNos {
    width: 55%;
    margin: 0;


}

.imagemSobreNos {
    animation: appear 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
    transition: all 0.5s;
    cursor: pointer;

}

.imagemSobreNos:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(241, 7, 7, 0.5));
    filter: drop-shadow(15px 10px 5px #003366);
}

.sobrenos .container .textoNos {
    color: white;
    width: 45%;
    font-size: 25px;
    text-shadow: 5px 5px 10px black;
    display: flex;
    animation: appear 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;

}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 150px;
}

.rodape .container {
    width: 80%;
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape .container .navegacaoFooter p {
    color: white;
    padding: 0 5vw 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape .container .navegacaoFooter .p1 {
    color: white;
}

.rodape .container .navegacaoFooter .p2 {
    color: white;
}

.rodape .container .navegacaoFooter .p3 {
    color: white;
}

.rodape .container .navegacaoFooter {
    width: 80%;
    height: 100px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.banner .container h1 {
    justify-content: flex;
    width: 40vh;
    margin-top: 200px;
    margin-left: 9vh;
}

@keyframes appear {
    from {
        opacity: 0;
        translate: -100vw 0;

    }

    to {
        opacity: 1;
        translate: 0 0;
    }

}

@keyframes reveal {
    from {
        opacity: 0;
        clip-path: inset(45% 20% 45% 20%);
    }

    to {
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);
    }
}