body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./R.jpeg) no-repeat center;
    background-size: cover;
}

.container {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(231, 224, 224);
    padding: 1%;
    text-align: center;
    width: 30%;
}

.login-box {
    margin: 0 auto;
}

h1 {
    color: #fff4f4;
    margin: 3% 0 5% 0; 
}

form {
    display: flex;
    flex-direction: column;
}

.input-container {
    margin-bottom: 20px;
    text-align: left;
    color: #ffffff;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 10px;
    border: 3px solid #cccccc;
    border-radius: 5px;
    font-size: 12px;
}

button {
    background-color: #333333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    justify-content: center;
    width: 100%;
    margin-bottom: 2%;
}
.button {
    justify-content: center;
}

button:hover {
    background-color: #5f5959;
}

.primeiro_acesso{
    color: #066aff;
    font-size: 14px;    
    text-align: right;
    margin-bottom: 5px;
    margin: 5px;
}


.container .a{
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.mensagemLogando{
    display: none;
    width: 20%;
    height:fit-content;
    padding: 2%;
    position: absolute;
    background-color: white;
    border: 2px solid black;
    color: #000;
    margin-bottom: 35%;
    margin-left: 70%;
}



/*Tela de como cadastro Usuario */

.container2 {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(231, 224, 224);
    padding: 1%;
    text-align: center;
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box2 {
    margin: 0 auto;
    margin-bottom: 2%;
    display: flex;
    width: 100%;
}

.container2 .login-box2 .esquerda{
    width: 50%;
    height: 98%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
}

.container2 .login-box2 .direita{
    width: 50%;
    height: 98%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container2 .a{
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.container2 .button {
    background-color: #333333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    justify-content: center;
    width: 20%;
    margin-bottom: 2%;
    justify-content: center;

}

button:hover {
    background-color: #5f5959;
}

.menssageErro{
    color: red;
    margin:2% ;
}